.hidden {
	display: none;
}

.container {
	max-height: none;
	.loader-container .loader {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.results-section {
	padding-top: 15px;
	border-top: 2px solid #eee;

	.results-title {
		color: #333;
		font-size: 1.3em;
	}

	.json-container {
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #f8f9fa;
		border: 2px solid #ddd;
		border-radius: 10px;
		padding: 20px;
		max-height: 30dvh;
		overflow-y: auto;

		pre {
			margin: 0;
			color: #333;
			font-family: "Courier New", monospace;
			font-size: 0.8em;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	}

	.buttons-container {
		display: flex;
		justify-content: space-around;

		.page-buttons-container {
			display: flex;
			align-items: center;
			gap: 20px;

			#pageDisplay {
				-moz-appearance: textfield;
				height: 35px;
				width: 35px;
				padding: 5px 5px 0px 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #333;
				font-weight: 700;
				font-size: 1.1em;
				border-radius: 10px;
				border: 2px solid #333;
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
		.btn-info {
			width: fit-content;
			padding: 10px;
		}
		.btn-save {
			background: linear-gradient(135deg, #43cea2 0%, #329b7a 100%);
			padding: 15px 30px;
		}
		.btn-send {
			background: linear-gradient(135deg, #ff9966 0%, #cc4c4e 100%);
			padding: 15px 30px;
		}
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.results-section {
		.json-container {
			max-height: 35dvh;
			padding: 18px;

			pre {
				font-size: 0.75em;
			}
		}

		.buttons-container {
			gap: 15px;
		}
	}
}

@media (max-width: 480px) {
	.container .loader-container .loader {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.results-section {
		padding-top: 10px;

		.results-title {
			font-size: 1.1em;
		}

		.json-container {
			margin-top: 15px;
			margin-bottom: 15px;
			padding: 15px;
			max-height: 35dvh;

			pre {
				font-size: 0.65em;
			}
		}

		.buttons-container {
			justify-content: space-between;

			.page-buttons-container {
				gap: 10px;

				#pageDisplay {
					height: 30px;
					width: 30px;
				}

				.btn-info {
					padding: 8px;
					font-size: 0.9em;
				}
			}

			.btn-send,
			.btn-save {
				padding: 12px;
			}
		}
	}
}
